@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожловать на ArtSkill</h1> 
    <img src="img/photo1.jpg" alt="Sample Photo" />
    <p>Здесь представлена ссылка на мой аккаун в FicBook <a href="https://ficbook.net/authors/2031234"> Это проверка на доступность ссылки</a>.</p>
    
</div>
