@{
    ViewData["Title"] = "Правила магазина ArtSkill";
} 
<div class = "text-center">
<h1>@ViewData["Title"]</h1>
<p>Каждый имеет право на то, чтобы зарабатывать на своем творчестве.</p>
<p> Нельзя воровть чужие работы. </p>
<p>Запрещено повторно продовать уже проданный товар.</p>
<p> Каждый имеет право на самовыражение, однако на нашем сайте не приветствуется ненормативная лексика.</p>   
 <p>Художник вправе сам устнавливать цену на товар.</p>  
<p> Покупатель имеет право не покупать, однако товар воврату не принадлежит.</p>   
 <p>Помимо покупок так же можно сделать индивидуальный заказ, связавшись с иллюстратором. </p> 
<p> Уважайте, цените друг друга и по возможности любите. </p>    

@*<img src="img/Что.jpg" alt="Sample Photo" />*@
</div>
